.gitkeep
/build
/output
/dist
/venv310
/model
/deploy
__pycache__
jta_main_optimized.py
setup_optimized.py
whisper-test.py
whisper-test-2.py
whisper-test-3.py
whisper-backup.py

# most of the hidden files are just for development purposes, not actually needed
